/* Các phần cũ */

.topbar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: darkblue;
  cursor: pointer;
}

.topRight {
  display: flex;
  align-items: center;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #555;
}

.topIconBadge {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  right: 0px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.topAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

/* CSS mới */
/* Các phần cũ sẽ được giữ nguyên */

.userWindow {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  display: none;
}

.userWindow.show {
  display: block;
}

.userWindowContent {
  text-align: center;
}

.userWindowContent h3 {
  margin-bottom: 10px;
}

.userWindowContent p {
  margin-bottom: 10px;
}

.userWindowContent button {
  border: none;
  background-color: #ff4057;
  color: #fff;
  padding: 7px 10px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
